
.logo {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #00abe4;
  width: 12%;

}

.loginBtn {
  background-color: #00abe4;
  border: none;
  color: white;
}
.signBtn {
  color: #00abe4;
  border: #00abe4 1px solid;
  background-color: white;
}

.link {
  color: #1e375a;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.link:hover {
  color: #00abe4;
}

.active {
  color: #00abe4;
}
.w100{
  width: 100px;
}
.navbarBrand{
  padding-inline: 0 0.5rem;
  display: flex;
  list-style: none;
}
.dropDownNav > div >div:nth-child(2)> div{
  padding: unset !important;
}
.dropDownNav > div >div:nth-child(2)> div > button{
  padding: unset !important;
  display: flex;
  justify-content: center;
}
.dropDownNav > div >div:nth-child(2)> div > button >a{
  width: 100%;
}
.dropDownNav > div >div:nth-child(2){
  min-width: 160px;

}
.dropDownNav > div >div:nth-child(2) > div{
overflow: hidden !important;
}